nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
  .container
    a(href="index.html").navbar-brand Glozzom
    button.navbar-toggler(data-toggle="collapse", data-target="#navbarCollapse")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
      ul.navbar-nav.ml-auto.text-light
        li.nav-item.active 
          a.nav-link(href="index.html") Home
        li.nav-item 
          a.nav-link(href="about.html") About Us
        li.nav-item 
          a.nav-link(href="services.html") Services
        li.nav-item 
          a.nav-link(href="blog.html") Blog
        li.nav-item 
          a.nav-link(href="contact.html") Contact