include includes/navbar-mixin.pug
- var unsplash = "https://source.unsplash.com/random";

doctype html  
html(lang='en')  
  head
    title Contact Us
  body
    +navbar('contact')

    header#page-header
      .container
        .row
          .col-md-8.m-auto.text-center
            h1 Contact Us
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. In minus repellat necessitatibus soluta iusto sint laudantium sed minima. Repellendus, a.

    section#contact.py-3
      .container
        .row
          .col-md-4
            .card.p-4
              .card-body
                h4 Get In Touch
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, vitae?
                h4 Address
                p 550 Main St., Boston, MA
                h4 Email
                p test@test.com
                h4 Phone
                p (555) 555-5555

          .col-md-8
            .card.p-4
              .card-body
                h3.text-center Please fill out this form to contact us
                hr
                .row 
                  .col-md-6: .form-group: input.form-control(type="text" placeholder="First Name")
                  .col-md-6: .form-group: input.form-control(type="text" placeholder="Last Name")
                .row 
                  .col-md-6: .form-group: input.form-control(type="text" placeholder="Email")
                  .col-md-6: .form-group: input.form-control(type="text" placeholder="Phone Number")
                .row: .col: .form-group: input.form-control(type="textarea" placeholder="Message")
                .row: .col: .form-group: input.form-control(type="submit" value="Submit").btn.btn-outline-danger.btn-block

    section#staff.py-5.text-center.bg-dark.text-light
      .container
        h1 Our Staff
        hr
        .row
          .col-md-3 
            img.img-fluid.rounded-circle.mb-2(src="images/person1.jpg")
            h4 Jane Doe
            small Marketing Manager
          .col-md-3
            img.img-fluid.rounded-circle.mb-2(src="images/person2.jpg")
            h4 Murray Rothbard
            small Chief Economist
          .col-md-3
            img.img-fluid.rounded-circle.mb-2(src="images/person3.jpg")
            h4 Ludwig von Mises
            small Last Knight of Liberalism
          .col-md-3
            img.img-fluid.rounded-circle.mb-2(src="images/person4.jpg")
            h4 Tom Woods
            small Resident Historian

    include includes/footer.pug